body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.work {
  background-color: #4CAF50; /* Green */
}

.leisure {
  background-color: #2196F3; /* Blue */
}

.focus {
  background-color: #f44336; /* Red */
}

.personal {
  background-color: #ffeb3b; /* Yellow */
}

.home {
  background-color: #9c27b0; /* Purple */
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: #081113;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .4s ease-in-out;
}
/* CSS for Chat UI */
#chat-container {
  width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

#chat-log {
  height: 200px;
  overflow-y: scroll;
}

.user-message {
  margin-bottom: 5px;
}

.bot-message {
  margin-bottom: 5px;
  font-style: italic;
}


